/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

/* Base */

@font-face {
  font-family: 'Source Sans 3';
  src: url('/SourceSans3-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/SourceSans3-Italic-VariableFont_wght.ttf')
    format('woff2-variations');
  font-weight: 200 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/SourceCodePro-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/SourceCodePro-Italic-VariableFont_wght.ttf')
    format('woff2-variations');
  font-weight: 200 900;
  font-style: italic;
}

html,
body {
  --scale-0-25: calc(var(--scale-1) * 0.25);
  --scale-0-5: calc(var(--scale-1) * 0.5);
  --scale-1: 4px;
  --scale-1-5: calc(var(--scale-1) * 1.5);
  --scale-2: calc(var(--scale-1) * 2);
  --scale-2-5: calc(var(--scale-1) * 2.5);
  --scale-3: calc(var(--scale-1) * 3);
  --scale-3-5: calc(var(--scale-1) * 3.5);
  --scale-4: calc(var(--scale-1) * 4);
  --scale-5: calc(var(--scale-1) * 5);
  --scale-6: calc(var(--scale-1) * 6);
  --scale-7: calc(var(--scale-1) * 7);
  --scale-8: calc(var(--scale-1) * 8);
  --scale-9: calc(var(--scale-1) * 9);
  --scale-10: calc(var(--scale-1) * 10);
  --scale-11: calc(var(--scale-1) * 11);
  --scale-12: calc(var(--scale-1) * 12);
  --scale-14: calc(var(--scale-1) * 14);
  --scale-16: calc(var(--scale-1) * 16);
  --scale-20: calc(var(--scale-1) * 20);
  --scale-24: calc(var(--scale-1) * 24);
  --scale-28: calc(var(--scale-1) * 28);
  --scale-32: calc(var(--scale-1) * 32);
  --scale-36: calc(var(--scale-1) * 36);
  --scale-40: calc(var(--scale-1) * 40);
  --scale-44: calc(var(--scale-1) * 44);
  --scale-48: calc(var(--scale-1) * 48);
  --scale-52: calc(var(--scale-1) * 52);
  --scale-56: calc(var(--scale-1) * 56);
  --scale-60: calc(var(--scale-1) * 60);
  --scale-64: calc(var(--scale-1) * 64);
  --scale-72: calc(var(--scale-1) * 72);
  --scale-80: calc(var(--scale-1) * 80);
  --scale-96: calc(var(--scale-1) * 96);

  --size-border-radius-large: var(--scale-1);
  --size-border-radius: var(--scale-0-5);
  --size-border-width: var(--scale-0-25);
  --size-focus-outline-width: var(--scale-0-5);
  --size-letter-spacing-wide: var(--scale-0-25);

  --duration: 100ms;

  font-size: var(--scale-4);
  line-height: 1.25;

  background-color: var(--gray-20);
  color: var(--gray-90);
  font-family: 'Source Sans 3';

  min-height: 100%;
  height: 100%;
}

input,
textarea {
  font-family: 'Source Code Pro';
}

button {
  cursor: pointer;
}

a:link,
a:visited {
  color: var(--brand-tertiary);
}

a:hover,
a:active {
  color: var(--brand-secondary);
}

*:focus {
  outline: var(--gray-90-25) solid var(--size-focus-outline-width);
  outline-offset: var(--scale-0-5);
}

/* Theme */

html {
  --gray-00: #001523;
  --gray-00-56: #00152390;
  --gray-00-75: #001523c0;
  --gray-10: #081d2a;
  --gray-20: #102431;
  --gray-30: #20323f;
  --gray-35: #30414d;
  --gray-40: #3f4f5a;
  --gray-50: #7e8991;
  --gray-60: #bdc3c8;
  --gray-70: #dce0e4;
  --gray-80: #eceff2;
  --gray-90: #fbfdff;
  --gray-90-18: #fbfdff2e;
  --gray-90-25: #fbfdff40;
  --gray-90-75: #fbfdffc0;

  --brand-primary: #7d53de;
  --brand-primary-dark: #612fd7;
  --brand-secondary: #34f6f2;
  --brand-secondary-18: #34f6f22e;
  --brand-tertiary: #78e3fd;
  --brand-quaternary: #fc6dab;

  --green-dark: #3b6d52;
  --green-light: #cce3d7;
  --green-light-25: #cce3d740;

  --red-dark: #7f2f2d;
  --red-light: #f0d5d4;
  --red-light-25: #f0d5d440;

  --yellow-dark: #784f05;
  --yellow-light: #fef4e1;
  --yellow-light-25: #fef4e140;

  --blue-dark: #005473;
  --blue-light: #ebfaff;
  --blue-light-25: #ebfaff40;
}
